<!DOCTYPE html!>

<html>
  <head>
    <title>
      NotLinkedIn
    </title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight: bold;
        color: rgb(30, 30, 200);
        text-align: center;
      }
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      h2 {
        font-family: Roboto;
        font-size: 32px;
        color: rgb(60, 60, 200);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Something as LinkedIn but worse</h1>
    <img id="banner" src="https://rafael-website-1--rafaelpetruy1.repl.co/static/banner.jpg">
    <h2>About NotLinkedIn</h2>
    <p>
      Almost like LinkedIn, but worser, so; NotLinkedIn
    </p>
    <h2>Last Open Positions</h2>
    <p>TO-DO show list of jobs here TO-DO</p>
    <button>Wanna share a job? Feel free to contact us!</button>
  </body>

</html>